
@font-face{
    font-family: "Norse";
    src: url("assets/fonts/Norse.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

*{
    /* background-color: black; */
    /* FOR TESTING */
    background-color:yellow;
    margin: 0;
    padding: 0;
    border: 0;
}

div{
}

.Container{
    display: flex;
    height: 96vh;
    width: 80%;
    margin: 2vh 10%;
}

.ImageContainer{
    flex: 1;
    background-color: red;
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
}

.OdinLogoStrip{
    position: absolute;
    top: 25vh;
    height: 15vh;
    width: 100%;
    display: flex;
    background-color: rgba(25,31,52,0.5);
    justify-content: center;
    align-items: center;
    /* opacity: 0.5; */

}

.OdinLogoText{
    /* flex: 1; */
    display: inline;
    /* background-color: grey; */
    font-family: "Norse", sans-serif;
    /* font-weight: 80%; */
    font-size: 500%;
    color: white;
    /* opacity: 1.5; */
    background-color: rgba(25,31,52,0.0);
}

#OdinLogo{
    height: 12vh;
    /* width: auto; */
    /* flex: 1; */
    display: inline;
    /* background-color: grey; */
    /* opcaity: 1.5; */
    background-color: rgba(25,31,52,0);
}

#OdinPic{
    height: 100%;
    width: 100%;
}

.FormContainer{
    flex: 2;
    background-color:blue;
}

.Section_Top{
    background-color: blue;
    height: 32vh;
    justify-content: bottom;
    align-items: center;
}

.Section_Middle{
    background-color: red;
    height: 32vh;
}

.Section_Bottom{
    background-color: green;
    height: 32vh;
}
