
@font-face{
    font-family: "Norse";
    src: url("assets/fonts/Norse.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

*{
    background-color: yellow;
    margin: 0;
    padding: 0;
    border: 0;
}

div{
}

.Container{
    display: flex;
    height: 96vh;
    width: 80%;
    margin: 2vh 10%;
}

.ImageContainer{
    flex: 1;
    background-color: red;
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
}

.OdinLogoStrip{
    position: absolute;
    top: 25vh;
    height: 15vh;
    width: 100%;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    opacity: 0.5;

}

.OdinLogoText{
    /* flex: 1; */
    display: inline;
    background-color: grey;
    font-family: "Norse", sans-serif;
    /* font-weight: 80%; */
    font-size: 500%;
    color: white;
    opacity: 1.5;
}

#OdinLogo{
    height: 12vh;
    /* width: auto; */
    /* flex: 1; */
    display: inline;
    background-color: grey;
    opcaity: 1.5;
}

#OdinPic{
    height: 100%;
    width: 100%;
}

.FormContainer{
    flex: 2;
    background-color:blue;
}
