*{
	background-color: black;
}

h1{
	color: white;
	outline: 2px solid green;
}

.gridRow{
	display:flex;
  height: 50px;
	flex:1;
}
.gridColumn{
	/*background-color: blue;*/
	outline: 2px solid red;
	//height: 100px;
	flex: 1;
}

.gridSquare{
  background-color: white;
}

.gridSquareActive{
  background-color: black;
}


/*
 * This works, but squares don't stay black
 * Need to change in Javascript
 *
.gridSquare:hover{
  background-color: black;
}
*/

#GameContainer{
  display: flex;
  flex-direction: column;
  /*Dakota's Desktop*/
  height: 900px;
}


