*{
	background-color: black;
}

button{
	/* background-color: white; */
	color: white;
	border-radius:50%
	/* flex: 1; */
}

.Calculator_Container{
	/* This will turn to black, but using yellow for testing */
	/* background-color: yellow; */
  background-color: black;
	height: 80vh;
	width: 60%;
	margin: 10% 20%;
	outline: 2px solid white;
	border-radius: 5%;
}

.Display_Container{
	/* This will turn to black, but using green for testing */
	/* background-color: green; */
  background-color:black;
	color: white;
	width: 90%;
	height: 33%;
	margin: 0 auto;
	text-align: right;
}

.Button_Container{
	/* This will turn to black, but using red for testing */
	background-color: red;
	height: 64%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.Row_Container{
	background-color: black;
	flex: 1;
  flex-direction: row;
	display: flex;
}

.Calc_Button {
	flex: 1;
  margin: 3px;
}

.Utility_Button {
  background-color: #666161;
}

.Number_Button {
  background-color: #2E2727;
}

.Operation_Button {
  background-color: orange;
}


